<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="/styles/works.css">
</head>
<body>
    <div> 
        <main> 
            <h1 class="title-works">Titles and accomplishments</h1>
            <p>
            <ul class="titles">
                <li> 2020 YOKKAO Diamond Welterweight Champion</li>
                <li> 2019 THAI FIGHT 70 kg King's Cup Champion</li>
                <li> 2018 THAI FIGHT 67 kg King's Cup Champion </li>
                <li> 2016 THAI FIGHT Kard Chuek 70 kg King's Cup Champion </li> 
                <li> Most championships in Thai Fight (4) </li>
                <li> Most wins in Thai Fight (46) </li>
                <li> 46–0 record </li>
                <li> Phoenix Fighting Championship </li>
                <li> 2017 Phoenix Fighting Championship 63.5 kg Champion </li>
                <li> Toyota Marathon </li>
                <li> 2014 Toyota Marathon Runner-up </li>
                <li> Muay Thai Warriors </li>
                <li> 2012 Muay ThWorld Professional Muaythai Federation (WPMF)</li>
               
            </ul>  
               
            </p>

        </main>
    </div>
    
</body>
</html>